@charset "utf-8";
/* CSS Document */

.aboutMe{
	
	padding: 0px;
}
.aboutMeText{
	margin-top: 0px;
	
	padding-top: 0px;
}
.skill{
	padding-top: 5px;
}
.item img{
	width: 100%;
}
.item{
	padding: 5px;
}
.border{
		border:1px solid #333;
	width:35%;
	background: #333;
	margin:25px auto;
}
#portfolio .aboutMeText{
	margin-top: 50px;
}