@charset "utf-8";
/* CSS Document */
.carousel-caption{
	color: black;
	font-family:'bad-script';
	font-size: 35px;
	animation: cap 6s;
	
	padding:0px;
	box-sizing: padding-box;
	padding: 0px 100px;
}
.carousel-caption p{
	background:rgba(255,255,255,0.63); 
	width: 650px;
	padding:5px 0px;
}
.carousel-caption h3{
	font-size: 40px;
}
@keyframes cap{
	0%{
		transform: translateY(-250px);
		opacity:0;
	}
	
	40%{
		transform: translateY(-300px);
		opacity: 1;
	}
	90%{
		transform: translateY(-300px);
		opacity: 1;
	}
	100%{
		transform: translateY(-300px);
		opacity: 0.5;
	}
}
